@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
body {
  background: #fdfdfd;
}
input {
  border: 0;
  outline: solid 1px grey;
}
button {
  border: 0;
  outline: solid 1px grey;
}
.fullWidth {
  width: 100%;
}
.p-1 {
  padding: 0.5rem;
}
.pr-1 {
  padding-right: 0.5rem;
}
.pt-1 {
  padding-top: 0.5rem;
}
.pb-1 {
  padding-bottom: 0.5rem;
}
.pl-1 {
  padding-left: 0.5rem;
}
.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
